* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

#header {
    background: #CDC2AE;
    height: 200px;
}

#banner {
    background: #EF9F9F;
    height: 200px;
}

#sticky {background: #827397;}

#sticky .left {
    float: left;
    width: 50%;
    background: #646FD4;
}

#sticky .left .l1 {height: 50vh; background: #809A6F;}

#sticky .left .l2 {height: 50vh; background: #EC994B;}

#sticky .left .l3 {height: 50vh; background: #CCF3EE;}

#sticky .left .l4 {height: 50vh; background: #FFEF82;}

#sticky .right {
    float: right;
    width: 50%;
    height: 200vh;
    background: #069A8E;
}

#sticky .right .r {
    position: sticky;
    top: 0;
    height: 50vh;
    background: #8E3200;
}

#sticky .right .r div{height: 100%; overflow: hidden;}
#sticky .right .r div img{width: 100%;}

#footer {
    height: 100vh;
    background: #F900BF;
}

/* sticky 요구사항
부모들(상위요소)중에 overflow:hidden이 있으면 안됨
하위요소에는 overflow:hidden을 사용가능하다.
position:sticky가 있는 요소의 부모요소는 높이값을 적어주어야한다.
position:sticky가 있는 요소에게 top값을 적어주어야한다.(left, right 적용 안됨)
부모의 높이만큼 화면이 고정된다.
 */