@charset "UTF-8";
*{margin: 0; padding: 0;}

body{
    background: #f3c892;
}

section{
    position: relative;
    height: 100vh;
}
section .cover{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 500px; height: 400px;
}
section .cover .bg{
    height: 100%;
    background: url(city.jpg)no-repeat center;
    background-size: cover;
    transition: 0.5s;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
section .cover:hover .bg{
    clip-path: polygon(90% 9%, 87% 75%, 100% 100%, 17% 77%, 0 19%, 49% 26%);
}