@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.loader {
    height: 100vh
}

.loader_blob {
    position: relative;
    width: 520px;
    height: 679px;
    left: 50%;
    top: 50%;
    /* translate의 백분율은 기준이 자신이다 */
    transform: translate(-50%,-50%);
    animation: go 6s infinite alternate;
    overflow: hidden;
}

/* 선애니 */
.ro{
    position: absolute;
    width: 520px;
    height: 679px;
    left: calc(50% - 260px);
    top: calc(50% - 320px);
    animation: rotate  6s  infinite alternate;
}
.ro .loader_blob2{
    width: 520px;
    height: 679px;
    border: 1px solid #999;
    animation: go  6s  infinite alternate;
}





@keyframes go{
    0%{border-radius: 24% 76% 41% 59% / 71% 23% 77% 29% ;}
    50%{border-radius: 63% 37% 56% 44% / 34% 57% 43% 66% ;}
    100%{border-radius: 81% 19% 76% 24% / 19% 80% 20% 81% ;}
}

@keyframes rotate{
    0%{
        /* 0초 */
        /* deg --> degree 각도 */
        transform: rotate(0deg);
    }
    100%{
        /* 6초가 끝나는 지점 */
        transform: rotate(360deg);
    }
}